# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.py_

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/


# shell editor swap files
*.swp
*.save
