[ArachneMergeTool]
    tools = never;mwc;mac;mji
#    keepReport = true

[mergetool "mji"]
    order=android

[mergetool "mac"]
    order=localfirst
    report=full

[mergetool "mwc"]
    report=full

[mergetool "never"]
    extensions = foo;bar;baz

[mergetool "meld"]
    cmd = meld --diff $LOCAL $BASE --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE

[mergetool "kdiff"]
    path = /usr/bin/kdiff

