[ArachneMergeTool]
    verbose = false
    tools = mwc;mac;mji

[mergetool "mji"]
    order=android

[mergetool "mac"]
    order=localfirst
    report=none

[mergetool "mwc"]
    report=none

[mergetool "meld"]
    cmd = meld --diff $LOCAL $BASE --diff $BASE $REMOTE --diff $LOCAL $MERGED $REMOTE

[mergetool "kdiff"]
    path = /usr/bin/kdiff

